USE [master]
GO
/****** Object:  Database [DefaultConnection]    Script Date: 03.06.2021 15:52:50 ******/
CREATE DATABASE [DefaultConnection]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DefaultConnection', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DefaultConnection.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DefaultConnection_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DefaultConnection_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DefaultConnection].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DefaultConnection]
GO
USE [DefaultConnection]
GO
/****** Object:  User [WSR-02\пользователь WSR2018]    Script Date: 03.06.2021 15:52:50 ******/
CREATE USER [WSR-02\пользователь WSR2018] FOR LOGIN [WSR-02\пользователь WSR2018] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [WSR-02\Olimp]    Script Date: 03.06.2021 15:52:50 ******/
CREATE USER [WSR-02\Olimp] FOR LOGIN [WSR-02\Olimp] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [KPC\инет]    Script Date: 03.06.2021 15:52:50 ******/
CREATE USER [KPC\инет] FOR LOGIN [KPC\инет] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [KPC\3-1p9]    Script Date: 03.06.2021 15:52:50 ******/
CREATE USER [KPC\3-1p9] FOR LOGIN [KPC\3-1p9] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [KPC\инет]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [KPC\инет]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [KPC\инет]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [KPC\инет]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [KPC\инет]
GO
ALTER ROLE [db_datareader] ADD MEMBER [KPC\инет]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [KPC\инет]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [KPC\инет]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [KPC\инет]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03.06.2021 15:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NULL,
	[Pass] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
